@inherits GridManualDispatchComponent


<EditForm Model="dispatchVM" OnSubmit="HandleSubmit">
    <div class="container mt-4">
        <div class="table-responsive">
            <table class="table table-striped table-bordered text-center">
                <thead class="table-primary">
                    <tr>
                        <th class="col-1">کد کالا</th>
                        <th class="col-6">شرح کالا</th>
                        <th class="col-1">@GetBranchColumnHeader()</th>
                        <th class="col-1">نام شعبه</th>
                        <th class="col-1">تعداد</th>
                        <th class="col-2">تن (ناخالصی)</th>
                    </tr>
                </thead>
                <tbody>
                    @if (DispatchList.Count > 0)
                    {
                        
                        @foreach (var dispatch in DispatchList)
                        {
                            <tr>
                                <td>
                                    <input @bind="dispatch.ProductCode" @bind:event="oninput" @onchange="() => FetchProductName(dispatch)" type="text" class="form-control" />
                                </td>
                                <td>@dispatch.ProductDescription</td>
                                <td>
                                    <input @bind="dispatch.BranchCode" @bind:event="oninput" @onchange="() => FetchBranchName(dispatch)" type="text" class="form-control" disabled="@IsBranchInputDisabled(Type.Value)" />
                                </td>
                                <td>@dispatch.BranchName</td>
                                <td>
                                    <input @bind="dispatch.Count" @bind:event="oninput" @onchange="() => CalcTn(dispatch)" type="text" class="form-control" />
                                </td>
                                <td>@dispatch.tnDispatch</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <div class="text-center mt-4">
            <button type="submit" class="btn btn-outline-orange px-4">ارسال</button>
        </div>
    </div>
</EditForm>


